.hero {
  padding: 40px 0 0 0;
  color: $accent-text;
  .container {
    .title {
      max-width: 280px;
      margin: 0 auto;

      text-align: center;
      font-size: 18px;
    }

    .features {
      margin: 24px 0 0 0;

      article {
        width: 280px;
        height: 120px;
        border-radius: 20px;

        position: relative;
        overflow: hidden;

        margin: 0 auto;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .content {
          color: inherit;

          &:hover div,
          &:focus div {
            background-color: $light-bg;
          }

          div {
            width: 280px;
            height: 120px;
            padding: 18px;
            border-radius: 20px;
            background-color: $accent-bg;

            transition: $animation;
            .name {
              font-size: 14px;
            }
          }
        }

        .photo {
          position: absolute;
          pointer-events: none;

          &.one {
            width: 350px;
            top: 20px;
            left: 0px;
          }
          &.two {
            width: 300px;
            top: 40px;
            left: 40px;
          }
          &.three {
            width: 90px;
            top: 20px;
            right: 20px;
          }
          &.four {
            width: 100px;
            top: 30px;
            right: 20px;
          }
        }
      }
    }
  }

  .globe {
    position: absolute;
    height: 15vh;
    bottom: 0;

    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 60px 0 0 0;

    .container {
      width: 650px;
      .title {
        max-width: 500px;
      }

      .features {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 0 0;
      }
    }

    .globe {
      position: absolute;
      bottom: 0;
      height: 35vh;
      width: 100%;

      margin: 0 auto;

      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    .container {
      width: 900px;
      .title {
        max-width: fit-content;
        font-size: 24px;
      }

      .features {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 0 0;

        article {
          width: 320px;
          height: 160px;

          &:not(:last-child) {
            margin-bottom: 30px;
          }

          .content {
            div {
              width: 400px;
              height: 160px;
              padding: 24px;
              border-radius: 20px;
              background-color: $accent-bg;

              .name {
                font-size: 16px;
              }
            }
          }

          .photo {
            &.one {
              width: 400px;
              top: 20px;
              left: 0px;
            }
            &.two {
              width: 350px;
              top: 40px;
              left: 40px;
            }
            &.three {
              width: 120px;
              top: 20px;
              right: 20px;
            }
            &.four {
              width: 140px;
              top: 40px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}
